name: Codacy Security Scan

on:
    push:
        branches:
            - '!dependabot/**'
    pull_request:
    schedule:
        - cron: '30 18 * * 2'

jobs:
    codacy-security-scan:
        name: Codacy Security Scan
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v5

            - name: Run Codacy Analysis CLI
              uses: codacy/codacy-analysis-cli-action@v4.4.7
              with:
                  project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
                  verbose: true
                  output: results.sarif
                  format: sarif
                  gh-code-scanning-compat: true
                  max-allowed-issues: 2147483647

            - name: Upload SARIF results file
              uses: github/codeql-action/upload-sarif@v4
              with:
                  sarif_file: results.sarif
