name: Ping Healthchecks.io

on:
  workflow_run:
    workflows: ['Daily updates']
    types: [requested, completed]

jobs:

  Ping-Started:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.status == 'requested' }}
    steps:
      - run: curl -m 10 --retry 5 ${{ secrets.ping_url }}/stared

  Ping-Success:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - run: curl -m 10 --retry 5 ${{ secrets.ping_url }}

  Ping-Failure:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'failure' }}
    steps:
      - run: curl -m 10 --retry 5 ${{ secrets.ping_url }}/fail
