name: PHP Linting

on:
    pull_request:
    workflow_dispatch:

jobs:
    php-lint:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v6

            - uses: michaelw90/PHP-Lint@master
