name: Run

on:
  schedule:
    - cron: '0 12 * * *'
  workflow_dispatch:

env:
  DOTNET_VERSION: '5.0.x'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout MergeTool
        uses: actions/checkout@v3
        with:
          ref: MergeTool

      - name: Setup .NET
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}
          
      - name: Restore
        run: dotnet restore
 
      - name: Build
        run: dotnet build --configuration Release --no-restore
        
      - name: Run
        run: |
            cd BancosBrasileiros.MergeTool
            dotnet run 

